Microsoft.Flow/flows/c6bb68e3-0881-4196-9fed-685865734041/definition.json
{"name":"95a116b5-0b77-4148-97e8-e759f463fa90","id":"/providers/Microsoft.Flow/flows/95a116b5-0b77-4148-97e8-e759f463fa90","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"exportToCSV","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"39bb576c-7a9f-47a0-9a24-465775b4a42e","type":"User","tenantId":"ca6a4b3f-9123-49bc-bcb9-27085ebbf1a1"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-01T12:03:52.70351Z","connectionKeySavedTimeKey":"2024-10-30T12:42:16.0467205Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"5a09fbb5-5e19-4820-af87-f4fdd31d375f"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Input","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Parse_JSON":{"runAfter":{},"metadata":{"operationMetadataId":"7b5a30d1-8a27-4680-a9b6-d9987227f855"},"type":"ParseJson","inputs":{"content":"@triggerBody()['text']","schema":{"type":"array","items":{"type":"object","properties":{"ExitReferenceID":{"type":"any"},"StaffName":{"type":"any"},"Department":{"type":"any"},"SubmittedTo":{"type":"any"},"StaffID":{"type":"any"},"LastWorkDate":{"type":"any"},"ExitRequestDate":{"type":"any"},"ExitWorkflowtStatus":{"type":"any"}},"required":[]}}}},"Select":{"runAfter":{"Parse_JSON":["Succeeded"]},"metadata":{"operationMetadataId":"d309599c-2091-45b1-a87a-2b5609c136f8"},"type":"Select","inputs":{"from":"@body('Parse_JSON')","select":{"Exit Reference No":"@item()?['Exit_Reference_No']","Staff Name":"@item()?['New_Staff_Name']","Department":"@item()?['Department']","Supervisor's Name":"@item()?['New_Submit_Request_To']","Exit Request Date":"@item()?['Date_Of_Exit_Request']","Last Work Date":"@item()?['Day_Month_of_Exit']","Exit Request Status":"@item()?['ExitWorkflowStatusVal']","Staff ID":"@item()?['Staff_ID']"}}},"Create_CSV_table":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"250c137a-2acb-450a-bf17-9406fa834d01"},"type":"Table","inputs":{"from":"@body('Select')","format":"CSV"}},"Create_file":{"runAfter":{"Create_CSV_table":["Succeeded"]},"metadata":{"operationMetadataId":"676965b8-3d29-4d4d-85a3-196b135dafa7"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nitdanigeria.sharepoint.com/sites/NITDADigitalServices-Sandbox","folderPath":"/Shared Documents/ExitTrak Exports","name":"Export_@{formatDateTime(utcNow(), 'yyyyMMddhhmmss')}.csv","body":"@body('Create_CSV_table')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_sharing_link_for_a_file_or_folder":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"58340460-a0f2-4ea6-be07-6127750e836e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nitdanigeria.sharepoint.com/sites/NITDADigitalServices-Sandbox","table":"b058b33a-2e12-4966-a15b-48e7c91c5668","id":"@outputs('Create_file')?['body/ItemId']","permission/type":"edit","permission/scope":"organization"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateSharingLink"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Create_sharing_link_for_a_file_or_folder":["Succeeded"]},"metadata":{"operationMetadataId":"d00b0bb4-a04d-414c-8c00-d385b74011c1"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"outputlink":{"title":"outputlink","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"outputlink":"@{outputs('Compose')}"}}},"Compose":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"895c1ea8-9a84-4743-b532-029ae9557382"},"type":"Compose","inputs":"https://nitdanigeria.sharepoint.com/sites/NITDADigitalServices-Sandbox@{outputs('Create_file')?['body/Path']}"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-531cb5af-55bf-4841-9aa6-469a52934241","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}