Microsoft.Flow/flows/5ade6cf0-41ed-471d-87bd-a6e1ec9c416c/definition.json
{"name":"295860d9-4fd6-4d94-8b9d-e5b91b38d099","id":"/providers/Microsoft.Flow/flows/295860d9-4fd6-4d94-8b9d-e5b91b38d099","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"getWorkflowHistory","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"39bb576c-7a9f-47a0-9a24-465775b4a42e","type":"User","tenantId":"ca6a4b3f-9123-49bc-bcb9-27085ebbf1a1"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-01T12:03:57.37221Z","connectionKeySavedTimeKey":"2024-10-30T12:42:16.015471Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"8a2f2000-b1d0-42a9-9bf6-7d5ac4eace3a"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"description":"Please enter your input","title":"ExitReferenceNo","type":"string","x-ms-content-hint":"TEXT","x-ms-dynamically-added":true}},"required":["text"]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"063fd9fe-6010-4617-bbe0-3ec75770c647"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nitdanigeria.sharepoint.com/sites/NITDADigitalServices-Sandbox","table":"c2f63123-9ef0-4cce-a2f0-2938a383817a","$filter":"Request_Reference_No eq '@{triggerBody()?['text']}'","$orderby":"Created desc"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"596c7d25-6812-47ef-a07b-b308e17292c8"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":{"Reference_No":"@item()?['Request_Reference_No']","Comment_Added_By":"@item()?['Workflow_Comment_Added_By']","Workflow_Comment":"@item()?['Workflow_Comment']","Workflow_Comment_Date":"@item()?['Workflow_Added_Date']","Role":"@item()?['WorkflowCommentOwnerRole/Value']","Workflow_Status":"@item()?['Workflow_Status/Value']","Request_Status":"@item()?['Request_Status/Value']","WorkflowCommentOwnerRole":"@item()?['WorkflowCommentOwnerRole/Value']"}}},"Compose":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"b0bd49f5-d63a-44ff-92f0-d937c5e157bd"},"type":"Compose","inputs":"@body('Select')"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"bd30a480-cc96-4122-8b9c-f7693f3553f1"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"workflowcomments":{"title":"workflowComments","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"workflowcomments":"@{outputs('Compose')}"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-531cb5af-55bf-4841-9aa6-469a52934241","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}