Microsoft.Flow/flows/d4372641-d8ae-440e-b1de-2ebf896cc909/definition.json
{"name":"87f69a50-6f25-4a66-a2f0-d6fd7578a70b","id":"/providers/Microsoft.Flow/flows/87f69a50-6f25-4a66-a2f0-d6fd7578a70b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"GetLatestActiveExitRequestByUser","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"39bb576c-7a9f-47a0-9a24-465775b4a42e","type":"User","tenantId":"ca6a4b3f-9123-49bc-bcb9-27085ebbf1a1"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-01T12:05:28.5819582Z","connectionKeySavedTimeKey":"2024-10-30T12:42:16.5154737Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"6f4c9c1d-9b5a-4216-a2a5-787d8d0064fb"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"email":{"title":"Email","type":"string","format":"email","x-ms-dynamically-added":true,"description":"Please enter an e-mail address","x-ms-content-hint":"EMAIL"}},"required":["email"]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"3a609e1e-879e-48d3-b43a-297050d0a0a6"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nitdanigeria.sharepoint.com/sites/NITDADigitalServices-Sandbox","table":"c5ad3e08-43f2-4754-871c-9cc98cab97f3","$filter":"Requester_Email eq '@{triggerBody()['email']}' or Submitted_For_Email eq '@{triggerBody()['email']}' and Request_Status eq 'Active'","$orderby":"Created desc","$top":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"a2398727-382d-4f42-99dc-e4dac91d09d4"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"lastactive":{"title":"lastActive","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"lastactive":"@{outputs('Compose')}"}}},"Compose":{"runAfter":{"Select_2":["Succeeded"]},"metadata":{"operationMetadataId":"d800570d-90fd-4faf-8241-784f106ff561"},"type":"Compose","inputs":"@body('Select_2')"},"Select_2":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"02e8f1a8-49fe-46de-b0db-bce427d3c7ab"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":{"ID":"@item()?['ID']","Staff_ID":"@item()?['Staff_ID']","New_Staff_Name":"@item()?['New_Staff_Name']","Submit_Request_To":"@item()?['Submit_Request_To/DisplayName']","ExitWorkflowStatus":"@item()?['ExitWorkflowStatus/Value']","Exit_Reason":"@item()?['Exit_Reason/Value']","Day_Month_Of_Exit":"@item()?['Day_Month_of_Exit0']","Approval_Workflow_Status":"@item()?['Approval_Workflow_Status/Value']","Request_Status":"@item()?['Request_Status/Value']","Department":"@item()?['Department']","Date_Of_Exit_Request":"@item()?['Date_Of_Exit_Request']","Additional_Comment":"@item()?['Additional_Comment']","New_Submit_Request_To":"@item()?['New_Submit_Request_To']","Exit_Reference_No":"@item()?['Exit_Reference_No']","New_First_Name":"@item()?['New_First_Name']","New_Last_Name":"@item()?['New_Last_Name']","Submit_Request_To_Email":"@item()?['Submit_Request_To_email']","Created_For_Email":"@item()?['Created_For_Email']","Supervisor_Name":"@item()?['Supervisor_Name']"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-531cb5af-55bf-4841-9aa6-469a52934241","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}