Microsoft.Flow/flows/b31e9468-c163-4c70-affe-7b1b44b296b2/definition.json
{"name":"d4bc3d7f-f06c-490e-983c-2a7a4500d771","id":"/providers/Microsoft.Flow/flows/d4bc3d7f-f06c-490e-983c-2a7a4500d771","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"SearchFlow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"39bb576c-7a9f-47a0-9a24-465775b4a42e","type":"User","tenantId":"ca6a4b3f-9123-49bc-bcb9-27085ebbf1a1"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-01T12:06:33.844465Z","connectionKeySavedTimeKey":"2024-11-01T12:06:33.844465Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"400ab893-5aec-48c7-a06b-d31a6eefc156"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"searchParam","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"70e61aba-63a1-4850-89c8-9a9d5f30e8f6"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://nitdanigeria.sharepoint.com/sites/NITDADigitalServices","table":"0ebb7294-d721-479f-855d-7b6c6cccae4d","$filter":"substringof('@{triggerBody()['text']}',Staff_ID) or substringof('@{triggerBody()['text']}',New_Last_Name)  or substringof('@{triggerBody()['text']}',New_First_Name)  or substringof('@{triggerBody()['text']}',Exit_Reference_No)","$top":500},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"96a88254-3b93-489d-b0c5-7d20ca2d33a7"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":{"ID":"@item()?['ID']","Staff_ID":"@item()?['Staff_ID']","Last_Name":"@item()?['Last_Name']","First_Name":"@item()?['First_Name']","Exit_Reference_No":"@item()?['Exit_Reference_No']","Last_Date":"@item()?['Day_Month_Of_Exit']","Deparment":"@item()?['Department']","Submit_Request_To_Department":"@item()?['Submit_Request_To']","Exit_Reason":"@item()?['Exit_Reason']","Submit_Request_To":"@item()?['Submit_Request_To']","ExitWorkflowStatus":"@item()?['ExitWorkflowStatus']","Day_Month_of_Exit":"@item()?['Day_Month_Of_Exit']","Additional_Comment":"@item()?['Additional_Comment']","New_Staff_Name":"@item()?['New_Staff_Name']","New_Submit_Request_To":"@item()?['New_Submit_Request_To']","Date_Of_Exit_Request":"@item()?['Date_Of_Exit_Request']","Staff_Name":"@item()?['New_Staff_Name']"}}},"Compose":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"b90c15d8-5fb8-42b7-ad3e-2a261083944c"},"type":"Compose","inputs":"@body('Select')"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"a34fce12-ee0f-406f-8b29-43218b4ba609"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"searchparam":{"title":"SearchParam","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"searchparam":"@{outputs('Compose')}"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-531cb5af-55bf-4841-9aa6-469a52934241","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}