Microsoft.Flow/flows/973dadf4-8423-48ed-b2c3-433588fa17cf/definition.json
{"name":"aaf95c21-a857-4a5e-a223-4780801a90bf","id":"/providers/Microsoft.Flow/flows/aaf95c21-a857-4a5e-a223-4780801a90bf","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"FetchAllRequests","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"39bb576c-7a9f-47a0-9a24-465775b4a42e","type":"User","tenantId":"ca6a4b3f-9123-49bc-bcb9-27085ebbf1a1"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-01T12:04:22.5154946Z","connectionKeySavedTimeKey":"2024-10-30T12:42:16.1874432Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"03d5126a-08ce-45ff-8a07-ae08f3f525a1"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"a0d9ff93-fbdb-4c6a-8fc1-b2460a0bf090"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://nitdanigeria.sharepoint.com/sites/NITDADigitalServices-Sandbox","table":"c5ad3e08-43f2-4754-871c-9cc98cab97f3","$orderby":"Created desc"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"7d75c0db-8eca-449d-ba2f-8aec85b87d0e"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":{"Submit_Request_To":"@item()?['New_Submit_Request_To']","Staff_ID":"@item()?['Staff_ID']","Staff_Name":"@item()?['New_Staff_Name']","Department":"@item()?['Department']","Date_Of_Exit_Request":"@item()?['Date_Of_Exit_Request']","Daye_Month_Of_Exit":"@item()?['Day_Month_of_Exit0']","Additional_Comment":"@item()?['Additional_Comment']","Exit_Reference_No":"@item()?['Exit_Reference_No']","First_Name":"@item()?['New_First_Name']","Last_Name":"@item()?['New_Last_Name']","Exit_Work_Flow_Status":"@item()?['ExitWorkflowStatus/Value']","Exit_Reason":"@item()?['Exit_Reason/Value']","Approval_Workflow_Status":"@item()?['Approval_Workflow_Status/Value']","Submit_Request_To_Email":"@item()?['Submit_Request_To_email']","Created_For_Email":"@item()?['Created_For_Email']","Request_Status":"@item()?['Request_Status/Value']","Requester_Email":"@item()?['Requester_Email']"}}},"Compose":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"aa8a12b0-f096-4426-a2a0-173cc1101f23"},"type":"Compose","inputs":"@body('Select')"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"447416bb-10d6-4cc5-b585-2e253dad883a"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"allactiveitems":"@{outputs('Compose')}"},"schema":{"type":"object","properties":{"allactiveitems":{"title":"allActiveItems","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-531cb5af-55bf-4841-9aa6-469a52934241","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}