Microsoft.Flow/flows/7c29723c-f7ae-4142-b6f6-0cb727366fa3/definition.json
{"name":"b7a4aacd-2025-41c3-bd4a-51b47dc4893c","id":"/providers/Microsoft.Flow/flows/b7a4aacd-2025-41c3-bd4a-51b47dc4893c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"getUserRoles","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"39bb576c-7a9f-47a0-9a24-465775b4a42e","type":"User","tenantId":"ca6a4b3f-9123-49bc-bcb9-27085ebbf1a1"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-01T12:04:22.416836Z","connectionKeySavedTimeKey":"2024-10-30T12:42:16.2342236Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"b984e1ac-51bb-4a94-95c1-995bb6bbf34a"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"userEmail","type":"string","x-ms-dynamically-added":true,"description":"Please enter your input","x-ms-content-hint":"TEXT"}},"required":["text"]}}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"0f255a1d-5604-4563-81d5-607d0bcb2d67"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://nitdanigeria.sharepoint.com/sites/NITDADigitalServices-Sandbox","table":"85842186-c16a-4401-aeb0-0d0c2c22a4de","$filter":"user_email eq '@{triggerBody()['text']}'"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Select":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"1893bc1e-8e59-4f6d-afa9-8d907df95fb7"},"type":"Select","inputs":{"from":"@outputs('Get_items')?['body/value']","select":{"IsAdmin":"@item()?['IsAdmin/Value']","IsHOD":"@item()?['IsHOD/Value']","IsADHRA":"@item()?['IsADHRA/Value']","IsDirectorHRA":"@item()?['IsDirectorHRA/Value']","IsFMCClearanceOfficer":"@item()?['IsFMCClearanceOfficer/Value']","IsCOOSClearanceOfficer":"@item()?['IsCOOClearanceOfficer/Value']","IsInitiator":"@item()?['Is_Initiator/Value']"}}},"Compose_2":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"b6543b9c-e6e5-4d95-bedf-f5ee5c3e7821"},"type":"Compose","inputs":"@body('Select')"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"07a4f26d-7227-458e-995a-45aa303bfa70"},"type":"Response","kind":"PowerApp","inputs":{"statusCode":200,"body":{"userroles":"@{outputs('Compose_2')}"},"schema":{"type":"object","properties":{"userroles":{"title":"userRoles","x-ms-dynamically-added":true,"type":"string"}}}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-531cb5af-55bf-4841-9aa6-469a52934241","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}